        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            background-image: url(img/nature.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: sans-serif;
            margin-top: 40px;
        }
        
        .compteform {
            width: 1100px;
            background-color: rgb(0, 0, 0, 0.6);
            margin: auto;
            color: #ffffff;
            padding: 10px 0px 10px 0px;
            text-align: center;
            border-radius: 15px 15px 0px 0px;
        }
        
        .main {
            background-color: rgb(0, 0, 0, 0.5);
            width: 1100px;
            margin: auto;
        }
        
        form {
            padding: 10px;
        }
        
        #name {
            width: 100%;
        }
        
        .compte {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 250px;
            margin-top: 0px;
            width: 175px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 15px;
        }
        
        .client {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 250px;
            margin-top: -55px;
            width: 175px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 15px;
        }
        
        .numAgence {
            position: relative;
            left: 20px;
            top: 30px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
        }
        
        .numAgencelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -165px;
            top: 55px;
        }
        
        .numCompte {
            position: relative;
            left: 282px;
            top: -4px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .numComptelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 95px;
            top: 20px;
        }
        
        .cleRib {
            position: relative;
            left: 545px;
            top: -38px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .numRiblab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 640px;
            top: -40px;
        }
        
        .option {
            position: relative;
            left: 810px;
            top: -89px;
            line-height: 30px;
            width: 247px;
            height: 32px;
            padding: 0 22px;
            border-radius: 6px;
            font-size: 16px;
            color: #555;
            outline: none;
            overflow: hidden;
        }
        
        .prenom {
            position: relative;
            left: 20px;
            top: 14px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .prenomlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 150px;
            top: 12px;
        }
        
        .nom {
            position: relative;
            left: 20px;
            top: 44px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .nomlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -180px;
            top: 72px;
        }
        
        .adress {
            position: relative;
            left: 725px;
            top: -73px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .adresslab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 530px;
            top: -47px;
        }
        
        .email {
            position: relative;
            left: 372px;
            top: -107px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .emaillab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 180px;
            top: -83px;
        }
        
        .typeClient {
            position: relative;
            left: 374px;
            top: -59px;
            line-height: 30px;
            width: 330px;
            height: 32px;
            padding: 0 65px;
            border-radius: 6px;
            font-size: 16px;
            color: #555;
            outline: none;
            overflow: hidden;
        }
        
        .typeClientlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 160px;
            top: -35px;
        }
        
        .telephone {
            position: relative;
            left: 725px;
            top: -93px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .telephonelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 520px;
            top: -67px;
        }
        
        .cni {
            position: relative;
            left: 372px;
            top: -45px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .cnilab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 150px;
            top: -16px;
        }
        
        .profession {
            position: relative;
            left: 20px;
            top: -97px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .professionlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -200px;
            top: -72px;
        }
        
        .salaire {
            position: relative;
            left: 725px;
            top: -148px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .salairelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 520px;
            top: -120px;
        }
        
        .employeur {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 250px;
            margin-top: -10px;
            width: 175px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 15px;
        }
        
        .prenomEmpl {
            position: relative;
            left: 10px;
            top: 10px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .prenomEmplab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 73px;
            top: 10px;
        }
        
        .raisonS {
            position: relative;
            left: 277px;
            top: -43px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .raisonSlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 95px;
            top: -15px;
        }
        
        .adressEmpl {
            position: relative;
            left: 544px;
            top: -77px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .adressEmpllab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 356px;
            top: -48px;
        }
        
        .cniEmployeur {
            position: relative;
            left: 810px;
            top: -111px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .cniEmployeurlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 631px;
            top: -85px;
        }
        
        button {
            background-color: #3BAF9F;
            display: block;
            margin: 20px 0px 0px 20px;
            text-align: center;
            margin-left: 150px;
            border-radius: 12px;
            border: 2px solid #336473;
            padding: 14px 140px;
            outline: none;
            color: white;
            cursor: pointer;
            transition: 0.25px;
            margin-top: -30px;
        }
        
        button:hover {
            background-color: #5390F5;
        }
        
        .btn {
            background-color: #e6e9e850;
            display: block;
            margin: 20px 0px 0px 20px;
            margin-left: 540px;
            margin-top: -48px;
            border: 2px solid #336473;
            padding: 14px 140px;
            outline: none;
            color: white;
            cursor: pointer;
            transition: 0.25px;
        }
        
        .btn:hover {
            background-color: #607407;
        }
        
        #missAgence {
            position: relative;
            margin-left: 40px;
            top: 28px;
        }
        
        #missCompte {
            position: relative;
            margin-left: -60px;
            margin-top: -900px;
        }
        
        #missRib {
            position: relative;
            margin-left: 200px;
            top: -34px;
        }
        
        #missOption {
            position: relative;
            margin-left: 760px;
            top: -94px;
        }
        
        #missPrenom {
            position: relative;
            margin-left: 60px;
            top: 10px;
        }
        
        #missEmail {
            position: relative;
            margin-left: 40px;
            top: -104px;
        }
        
        #missAdress {
            position: relative;
            margin-left: 400px;
            top: -70px;
        }
        
        #missNom {
            position: relative;
            margin-left: 10px;
            top: 40px;
        }
        
        #missTypeClient {
            position: relative;
            margin-left: 50px;
            top: -53px;
        }
        
        #missTelephone {
            position: relative;
            margin-left: 440px;
            top: -89px;
        }
        
        #missProfession {
            position: relative;
            margin-left: 70px;
            top: -100px;
        }
        
        #missCni {
            position: relative;
            margin-left: 40px;
            top: -40px;
        }
        
        #missSalaire {
            position: relative;
            margin-left: 800px;
            top: -150px;
        }
        
        #missPrenomEmpl {
            position: relative;
            margin-left: 35px;
            top: 10px;
        }
        
        #missRaisonS {
            position: relative;
            margin-left: 180px;
            top: -44px;
        }
        
        #missAdressEmpl {
            position: relative;
            margin-left: 228px;
            top: -70px;
        }
        
        #missEmployeur {
            position: relative;
            margin-left: 460px;
            top: -103px;
        }
        
        #employeradio {
            margin-left: 95px;
            margin-top: -100px;
            font-size: 18px;
            color: white;
        }
        
        .radio {
            display: inline-block;
            padding-right: 10px;
            font-size: 20px;
            margin-left: 35px;
            margin-top: 15px;
            color: white;
        }
        
        .radio input {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            outline: none;
        }