        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            background-image: url(img/nature.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: sans-serif;
            margin-top: 40px;
        }
        
        .compteform {
            width: 800px;
            background-color: rgb(0, 0, 0, 0.6);
            margin: auto;
            color: #ffffff;
            padding: 10px 0px 10px 0px;
            text-align: center;
            border-radius: 15px 15px 0px 0px;
        }
        
        .main {
            background-color: rgb(0, 0, 0, 0.5);
            width: 800px;
            margin: auto;
        }
        
        form {
            padding: 10px;
        }
        
        #name {
            width: 100%;
        }
        
        .compte {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 120px;
            margin-top: 10px;
            width: 125px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 15px;
        }
        
        .client {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 120px;
            margin-top: -10px;
            width: 125px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 15px;
        }
        
        .numAgence {
            position: relative;
            left: 10px;
            top: 10px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
        }
        
        .numAgencelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 83px;
            top: 0px;
        }
        
        .numCompte {
            position: relative;
            left: 160px;
            top: -24px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .numComptelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -20px;
            top: 0px;
        }
        
        .cleRib {
            position: relative;
            left: 55px;
            top: -24px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .numRiblab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 610px;
            top: -22px;
        }
        
        .prenom {
            position: relative;
            left: 10px;
            top: 14px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .prenomlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 150px;
            top: 4px;
        }
        
        .nom {
            position: relative;
            left: -43px;
            top: 49px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .nomlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -273px;
            top: 72px;
        }
        
        .adress {
            position: relative;
            left: 405px;
            top: -54px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .adresslab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 180px;
            top: -30px;
        }
        
        .email {
            position: relative;
            left: 405px;
            top: -19px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .emaillab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 180px;
            top: 5px;
        }
        
        .telephone {
            position: relative;
            left: -400px;
            top: 50px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .telephonelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 150px;
            top: 40px;
        }
        
        .cni {
            position: relative;
            left: 335px;
            top: 16px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .cnilab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 111px;
            top: 40px;
        }
        
        .profession {
            position: relative;
            left: 10px;
            top: 50px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .professionlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -220px;
            top: 75px;
        }
        
        .salaire {
            position: relative;
            left: 405px;
            top: 16px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .salairelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 180px;
            top: 40px;
        }
        
        .employeur {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 120px;
            margin-top: 40px;
            width: 125px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 15px;
        }
        
        .prenomEmpl {
            position: relative;
            left: 10px;
            top: 10px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .prenomEmplab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 149px;
            top: -1px;
        }
        
        .raisonS {
            position: relative;
            left: 280px;
            top: -24px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .raisonSlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 56px;
            top: 0px;
        }
        
        .adressEmpl {
            position: relative;
            left: 10px;
            top: 10px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .adressEmpllab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -222px;
            top: 32px;
        }
        
        .cniEmployeur {
            position: relative;
            left: 404px;
            top: -24px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 80px;
            font-size: 16px;
            color: #555;
        }
        
        .cniEmployeurlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 181px;
            top: 0px;
        }
        
        button {
            background-color: #3BAF9F;
            display: block;
            margin: 20px 0px 0px 20px;
            text-align: center;
            margin-left: 90px;
            border-radius: 12px;
            border: 2px solid #336473;
            padding: 14px 110px;
            outline: none;
            color: white;
            cursor: pointer;
            transition: 0.25px;
        }
        
        button:hover {
            background-color: #5390F5;
        }
        
        .btn {
            background-color: #e6e9e850;
            display: block;
            margin: 20px 0px 0px 20px;
            margin-left: 420px;
            margin-top: -48px;
            border: 2px solid #336473;
            padding: 14px 102px;
            outline: none;
            color: white;
            cursor: pointer;
            transition: 0.25px;
        }
        
        .btn:hover {
            background-color: #607407;
        }
        
        #missPre {
            margin-top: -1000px;
        }