        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            background-image: url(img/nature.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: sans-serif;
            margin-top: 40px;
        }
        
        .compteform {
            display: flex;
            flex-flow: column wrap;
            width: 1100px;
            background-color: rgb(0, 0, 0, 0.6);
            margin: auto;
            color: #ffffff;
            padding: 10px 0px 10px 0px;
            text-align: center;
            border-radius: 15px 15px 0px 0px;
        }
        
        .main {
            display: flex;
            flex-flow: column wrap;
            background-color: rgb(0, 0, 0, 0.5);
            width: 1100px;
            margin: auto;
        }
        
        form {
            padding: 10px;
        }
        
        #name {
            width: 100%;
        }
        
        .compte {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 250px;
            margin-top: 0px;
            width: 175px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 5px;
        }
        
        .client {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 250px;
            margin-top: -55px;
            width: 175px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 5px;
        }
        
        .numAgence {
            position: relative;
            left: 20px;
            top: 30px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
        }
        
        .numAgencelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -165px;
            top: 5px;
        }
        
        .numCompte {
            position: relative;
            left: 282px;
            top: -4px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .numComptelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 95px;
            top: -30px;
        }
        
        .cleRib {
            position: relative;
            left: 545px;
            top: -38px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .numRiblab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 640px;
            top: -90px;
        }
        
        .option {
            position: relative;
            left: 810px;
            top: -89px;
            line-height: 30px;
            width: 247px;
            height: 32px;
            padding: 0 22px;
            border-radius: 6px;
            font-size: 16px;
            color: #555;
            outline: none;
            overflow: hidden;
        }
        
        .prenom {
            position: relative;
            left: 20px;
            top: 14px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .prenomlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 150px;
            top: -42px;
        }
        
        .nom {
            position: relative;
            left: 20px;
            top: 44px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .nomlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -180px;
            top: 22px;
        }
        
        .adress {
            position: relative;
            left: 725px;
            top: -73px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .adresslab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 530px;
            top: -97px;
        }
        
        .email {
            position: relative;
            left: 372px;
            top: -107px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .emaillab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 180px;
            top: -133px;
        }
        
        .typeClient {
            position: relative;
            left: 374px;
            top: -59px;
            line-height: 30px;
            width: 330px;
            height: 32px;
            padding: 0 65px;
            border-radius: 6px;
            font-size: 16px;
            color: #555;
            outline: none;
            overflow: hidden;
        }
        
        .typeClientlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 160px;
            top: -85px;
        }
        
        .telephone {
            position: relative;
            left: 725px;
            top: -93px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .telephonelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 520px;
            top: -117px;
        }
        
        .cni {
            position: relative;
            left: 372px;
            top: -45px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .cnilab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 150px;
            top: -70px;
        }
        
        .profession {
            position: relative;
            left: 20px;
            top: -97px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .professionlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: -200px;
            top: -122px;
        }
        
        .salaire {
            position: relative;
            left: 725px;
            top: -148px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 65px;
            font-size: 16px;
            color: #555;
        }
        
        .salairelab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 520px;
            top: -174px;
        }
        
        .employeur {
            background-color: rgba(7, 126, 61, 0.6);
            margin-left: 250px;
            margin-top: -110px;
            width: 175px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 200px 10px 200px;
            text-align: center;
            border-radius: 5px;
        }

        .profil{
            color: white;
            font-weight: bold;
        }
        
        .prenomEmpl {
            position: relative;
            left: 10px;
            top: 10px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .prenomEmplab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 73px;
            top: -42px;
        }
        
        .raisonS {
            position: relative;
            left: 277px;
            top: -43px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .raisonSlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 95px;
            top: -69px;
        }
        
        .adressEmpl {
            position: relative;
            left: 544px;
            top: -77px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .adressEmpllab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 356px;
            top: -104px;
        }
        
        .cniEmployeur {
            position: relative;
            left: 810px;
            top: -111px;
            line-height: 30px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
        }
        
        .cniEmployeurlab {
            position: relative;
            color: #e5e5e5;
            text-transform: capitalize;
            font-size: 14px;
            left: 631px;
            top: -137px;
        }
        
        button {
            background-color: #3BAF9F;
            display: block;
            margin: 20px 0px 0px 20px;
            text-align: center;
            margin-left: 150px;
            border-radius: 12px;
            border: 2px solid #336473;
            padding: 14px 140px;
            outline: none;
            color: white;
            cursor: pointer;
            transition: 0.25px;
            margin-top: -70px;
        }
        
        button:hover {
            background-color: #5390F5;
        }
        
        .btn {
            background-color: #e6e9e850;
            display: block;
            margin: 20px 0px 0px 20px;
            margin-left: 540px;
            margin-top: -48px;
            border: 2px solid #336473;
            padding: 14px 140px;
            outline: none;
            color: white;
            cursor: pointer;
            transition: 0.25px;
        }
        
        .btn:hover {
            background-color: #607407;
        }
        
        #missAgence {
            position: relative;
            margin-left: 40px;
            top: 83px;
        }
        
        #missCompte {
            position: relative;
            margin-left: -35px;
            top: 57px;
        }
        
        #missRib {
            position: relative;
            margin-left: 240px;
            top: 24px;
        }
        
        #missOption {
            position: relative;
            margin-left: 800px;
            top: -39px;
        }
        
        #missPrenom {
            position: relative;
            margin-left: 60px;
            top: 65px;
        }
        
        #missEmail {
            position: relative;
            margin-left: 40px;
            top: -49px;
        }
        
        #missAdress {
            position: relative;
            margin-left: 400px;
            top: -15px;
        }
        
        #missNom {
            position: relative;
            margin-left: 10px;
            top: 95px;
        }
        
        #missTypeClient {
            position: relative;
            margin-left: 80px;
            top: 2px;
        }
        
        #missTelephone {
            position: relative;
            margin-left: 440px;
            top: -34px;
        }
        
        #missProfession {
            position: relative;
            margin-left: 70px;
            top: -45px;
        }
        
        #missCni {
            position: relative;
            margin-left: 40px;
            top: 15px;
        }
        
        #missSalaire {
            position: relative;
            margin-left: 800px;
            top: -95px;
        }
        
        #missPrenomEmpl {
            position: relative;
            margin-left: 35px;
            top: 65px;
        }
        
        #missRaisonS {
            position: relative;
            margin-left: 180px;
            top: 11px;
        }
        
        #missAdressEmpl {
            position: relative;
            margin-left: 228px;
            top: -15px;
        }
        
        #missEmployeur {
            position: relative;
            margin-left: 460px;
            top: -48px;
        }
        
        #employeradio {
            margin-left: 20px;
        }


        @media screen and (max-width: 1120px) {  
            
            .compteform {
                width: 760px;
               
            }
            
            .main {
                width: 760px;
            }
            
            .compte {
                margin-left: 150px;
                width: 75px;
                padding: 5px 200px 5px 200px;
                border-radius: 15px;
            }
            
            .client {
                margin-left: 150px;
                width: 75px;
                padding: 5px 200px 5px 200px;
                border-radius: 15px;
                margin-top: 10px;
            }

            .employeur{
                margin-left: 150px;
                width: 75px;
                padding: 5px 200px 5px 200px;
                border-radius: 15px;
                margin-top: 40px;
            }

            .numAgence {
                left: 20px;
                padding: 0 65px;

            }

            #missAgence{
                left: 60px;
            }
            
            .numAgencelab {
                left: -200px;
            }
            
            .numCompte {
                left: 370px;
                padding: 0 65px;
            }
            
            .numComptelab {
                left: 135px;
            }

            #missCompte{
                left: 50px;
            }
            
            .cleRib {
                left: 20px;
                top: 28px;
                padding: 0 65px;
            }
            
            .numRiblab {
                left: 135px;
                top: -20px;
            }

            #missRib {
                margin-left: -358px;
                top: 94px;
            }
            
            .option {
                left: 370px;
                top: -22px;
                width: 332px;
                padding: 0 65px;
            }

            #missOption{
                margin-left: 400px;
                top: 30px;
            }
            .adress {
                left: 20px;
                top: 165px;
                padding: 0 65px;
            }
            
            .adresslab {
                left: -200px;
                top: 140px;
            }

            #missAdress {
                margin-left: -315px;
                top: 220px;
            }

            .telephone {
                left: 372px;
                top: 67px;
                padding: 0 65px;
            }
            
            .telephonelab {
                left: 150px;
                top: 40px;
            }

            #missTelephone {
                margin-left: 115px;
                top: 120px;
            }

            #employeradio {
                margin-top: -50px;
            }
            
            .radio {               
                margin-left: 65px;
            }
            
            .salaire {
                left: 372px;
                top: 8px;
                padding: 0 65px;
            }
            
            .salairelab {
                left: 150px;
                top: -16px;
            }

            #missSalaire {
                margin-left: 466px;
                top: 60px;
            }

            .prenomEmpl {
                padding: 0 65px;
            }
            
            .raisonS {
                padding: 0 65px;
                margin-left: 96px;
            }

            .raisonSlab{
                margin-left: -40px;
            }

            #missRaisonS {
                margin-left: 340px;
            }

            .adressEmpl {
                left: 11px;
                top: -5px;
                padding: 0 65px;
            }
            
            .adressEmpllab {
                left: -265px;
                top: -30px;
            }

            #missAdressEmpl {
                margin-left: -488px;
                top: 53px;
            }

            .cniEmployeur {
                left: 373px;
                top: -57px;
                padding: 0 65px;
            }
            
            .cniEmployeurlab {
                left: 145px;
                top: -85px;
            }

            #missEmployeur {
                margin-left: 460px;
                top: -3px;
            }

            button {  
                margin-top: 2px;
                margin-left: 65px;
                padding: 14px 110px;
            }

            .btn {
                margin-left: 374px;
                padding: 14px 110px;
            }

            @media screen and (max-width: 780px)  {

                .compteform {
                    width: 460px;
                   
                }
                
                .main {
                    width: 460px;
                }
                
                .compte {
                    margin-left: 70px;
                    padding: 5px 130px 5px 90px;
                    border-radius: 5px;
                }
                
                .client {
                    margin-left: 70px;
                    padding: 5px 130px 5px 90px;
                    border-radius: 5px;
                }
    
                .employeur{
                    margin-left: 70px;
                    padding: 5px 130px 5px 90px;
                    border-radius: 5px;
                }

                .numAgence {
                    left: 3px;
                    padding: 0 5px;
    
                }
                
                .numAgencelab {
                    left: -160px;
                }

                #missAgence{
                    margin-left: -20px;

                }

                .numCompte {
                    left: 223px;
                    padding: 0 5px;
                }
                
                .numComptelab {
                    left: 55px;
                }

                #missCompte{
                    margin-left: -120px;
                }

                .cleRib {
                    left: 3px;
                    top: 28px;
                    padding: 0 5px;
                }
                
                .numRiblab {
                    left: 80px;
                    top: -20px;
                }
    
                #missRib {
                    margin-left: -290px;
                    top: 94px;
                }
                
                .option {
                    left: 223px;
                    top: -23px;
                    width: 212px;
                    padding: 0 5px;
                }
                #missOption{
                    margin-left: 190px;
                    top: 34px;
                }

                .prenom {
                    left: 3px;
                    padding: 0 5px;
                }
                
                .prenomlab {
                    left: 80px;
                    top: -42px;
                }

                #missPrenom {
                    position: relative;
                    margin-left: 40px;
                }
                
                .email {
                    left: 222px;
                    padding: 0 5px;
                }
                
                .emaillab {
                    left: 90px;
                }

                #missEmail {
                    margin-left: -20px;
                }

                .nom {
                    left: 3px;
                    padding: 0 5px;
                }
                
                .nomlab {
                    left: -140px;
                }

                #missNom{
                    left: -30px;
                }

                .typeClient {
                    left: 223px;
                    width: 212px;
                    top: -75px;
                    padding: 0 5px;
                }

                #missTypeClient{
                    margin-left: 260px;
                    top: -26px;
                }

                .profession {
                    left: 3px;
                    top: -115px;
                    padding: 0 5px;
                }
                
                .professionlab {
                    top: -143px;
                    left: -150px;
                }

                #missProfession{
                    margin-left: 40px;
                    top: -66px;
                }

                .cni {
                    top: -65px;
                    left: 223px;
                    padding: 0 5px;
                }
                
                .cnilab {
                    top: -90px;
                    left: 80px;
                }

                #missCni{
                    top: -8px;
                    margin-left: -30px;
                }

                .adress {
                    left: 3px;
                    padding: 0 5px;
                }
                
                .adresslab {
                    left: -150px;
                }
    
                #missAdress {
                    margin-left: -215px;
                    top: 223px;
                }
    
                .telephone {
                    left:223px;
                    padding: 0 5px;
                    top: 46px;
                }
                
                .telephonelab {
                    top: 20px;
                    left: 80px;
                    
                }
    
                #missTelephone {
                    margin-left: 55px;
                    top: 105px;
                }

                .salaire {
                    left: 52px;
                    padding: 0 65px;
                }
                
                .salairelab {
                    left: -140px;
                }

                #missSalaire{
                    margin-left: -120px;
                    top: 70px;
                }

                .prenomEmpl {
                    margin-left: -5px;
                    padding: 0 5px;
                }
                
                .prenomEmplab {
                    left: 60px;
                }

                #missPrenomEmpl{
                    margin-left: 40px;
                }
                
                .raisonS {
                    left: 130px;
                    padding: 0 5px;
                }
                
                .raisonSlab {
                    left: -25px;
                }

                #missRaisonS{
                    margin-left: 136px;
                }
                
                .adressEmpl {
                    left: 5px;
                    padding: 0 5px;
                }
                
                .adressEmpllab {
                    left: -162px;
                }

                #missAdressEmpl{
                    left: 170px;
                }
                
                .cniEmployeur {
                    left: 225px;
                    padding: 0 5px;
                    top: -39px;
                }
                
                .cniEmployeurlab {
                    top: -63px;
                    left: 65px;
                }

                #missEmployeur{
                    top: 20px;
                    margin-left: -85px;
                }

                button {  
                    margin-top: 10px;
                    margin-left: 32px;
                    padding: 10px 60px;
                }
    
                .btn {
                    margin-top: -38px;
                    margin-left: 230px;
                    padding: 10px 60px;
                }

               
            }
    
        }